<table id="dt-tbl-compromissos" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Início</th>
            <th>Término</th>
            <th>Tipo</th>
            <th style="text-align:center"><i class="fas fa-cog"></i></th>
        </tr>
    </thead>
</table>

<!-- Modal de confirmação -->
<div class="modal fade" id="md-confirma" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-sim" type="button" class="btn btn-primary">Sim</button>
                <button id="btn-nao" type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de novo compromisso -->
<div id="md-compromisso-div"></div>