<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Compromisso</th>
            <th scope="col">Início</th>
            <th scope="col">Fim</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Médico</td>
            <td>23/03/2021 08:00</td>
            <td>23/03/2021 12:30</td>
        </tr>
        <tr>
            <td>Médico</td>
            <td>24/03/2021 08:00</td>
            <td>25/03/2021 12:30</td>
        </tr>
    </tbody>
</table>