<table id="dt-tbl-compromissos" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Início</th>
            <th>Término</th>
            <th>Tipo</th>
        </tr>
    </thead>
</table>