@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .col {
        padding-left: 0;
    }

        .col:last-child {
            padding-right: 0;
        }
    #novo-procedimento {
/*        margin-top: -15px;*/
        margin-bottom: 0px;
    }

    #novo-procedimento-row{
        margin-top: 0px;
    }

    .modal-body{
        padding-bottom: 0px;
    }

    #btn-novo-procedimento, #btn-novo-procedimento:focus {
        box-shadow: none;
    }

    #btn-novo-procedimento:focus, #btn-novo-procedimento:hover {
        text-decoration: none;
    }

    .btn.btn-remover-item{
        float: right;
        padding-top: 0px;
    }

    .border-top-10{
        margin-top: 10px;
    }

    .no-border-bottom {
        margin-bottom: 0px;
    }
</style>

@*Aqui é onde o scheduler inicia*@
<div id='calendar'></div>

<!-- Modal de novo agendamento -->
<div class="modal fade" id="md-editar-agendamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Criar agendamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="cod-procedimento" id="cod-agendamento" />

                    <div class="container">
                        <div class="row .no-gutters">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txt-data">Data:</label>
                                    <input type="date" class="form-control" id="txt-data">
                                </div>
                            </div>
                            <div class="col">
                                <label for="sel-status">Status:</label>
                                <select id="sel-status" class="custom-select">
                                    <option value="1" selected>Agendado</option>
                                    <option value="2">Cancelado</option>
                                    <option value="3">Remarcado</option>
                                    <option value="4">Finalizado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group no-norder-bottom">
                        <label for="sel-cliente">Cliente:</label>
                        <select id="sel-cliente" class="custom-select">
                            <option selected></option>
                        </select>
                    </div>

                    @*Procedimentos*@
                    <div id="procedimentos-container">

                        <div id="novo-procedimento"></div>

                        <div class="container">
                            <div id="novo-procedimento-row" class="row text text-center">
                                <div class="col">
                                    <button type="button" id="btn-novo-procedimento" class="btn btn-link">Novo Procedimento</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-salvar" type="button" class="btn btn-primary">Salvar</button>
                <button id="btn-cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmação -->
<div class="modal fade" id="md-confirma" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-sim" type="button" class="btn btn-primary">Sim</button>
                <button id="btn-nao" type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/fullcalendar-5.5.1/lib/locales/pt-br.js"></script>
    <script src="~/js/Agendamentos/Index/index.js"></script>
}