@section styles{
    <link rel="stylesheet" href="~/css/agendamentos/agendamentos.css" />
}

<!-- Tabs dos funcionários -->
<ul class="nav nav-tabs" id="func-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="func-0" data-func-id="0" data-toggle="tab" href="#global" role="tab" aria-controls="home" aria-selected="true">Agenda Global</a>
    </li>
    <li class="nav-item nav-p-filtro" role="presentation">
        <a class="nav-link" id="func-4" data-func-id="4" data-toggle="tab" href="#heleno" role="tab" aria-controls="profile" aria-selected="false">Heleno</a>
    </li>
    <li class="nav-item nav-p-filtro" role="presentation">
        <a class="nav-link" id="func-5" data-func-id="2209" data-toggle="tab" href="#Cris Cola" role="tab" aria-controls="contact" aria-selected="false">Cris Cola</a>
    </li>
    <li class="nav-item nav-p-filtro" role="presentation">
        <a class="nav-link" id="func-6" data-func-id="1207" data-toggle="tab" href="#Lorena" role="tab" aria-controls="contact" aria-selected="false">Lorena</a>
    </li>
</ul>

@*Aqui é onde o scheduler inicia*@
<div id='calendar'></div>

<!-- Modal de novo agendamento -->
<div class="modal fade" id="md-editar-agendamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Criar agendamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <input type="hidden" name="cod-procedimento" id="cod-agendamento" />

                    <div class="container">
                        <div class="row .no-gutters">
                            <div class="col">
                                <div class="form-group">
                                    <label for="txt-data">Data:</label>
                                    <input required type="date" class="form-control" id="txt-data">
                                </div>
                            </div>
                            <div class="col">
                                <label for="sel-status">Status:</label>
                                <select required id="sel-status" class="custom-select">
                                    <option value="1" selected>Agendado</option>
                                    <option value="2">Cancelado</option>
                                    <option value="3">Realizado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group no-norder-bottom">
                        <label for="sel-cliente">Cliente:</label>
                        <select required id="sel-cliente" class="custom-select">
                            <option selected></option>
                        </select>
                    </div>

                    <div id="procedimentos-container">
                        <div id="novo-procedimento"></div>
                    </div>
                </form>

                <div id="salvar-erros" class="text-danger text-center"></div>
            </div>
            <div class="modal-footer">
                <button id="btn-salvar" type="button" class="btn btn-primary">Salvar</button>
                <button id="btn-cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmação -->
<div class="modal fade" id="md-confirma" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btn-sim" type="button" class="btn btn-primary">Sim</button>
                <button id="btn-nao" type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do caixa -->
<div class="modal fade" id="md-caixa" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="cabecalho-caixa">
                    <div class="row">
                        <div class="col-9 col-titulo">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading text-center">Caixa</h4>
                                <p id="p-hora" class="text-center">10:20</p>
                                <hr>
                                <p class="mb-0">Integro Consultores 2021</p>
                            </div>
                        </div>
                        <div class="col-3 col-saldo">
                            <div class="card border-success mb-3" style="max-width: 18rem;">
                                <div class="card-header text-center">Saldo</div>
                                <div class="card-body">
                                    <div class="card-title text-center"><h5>R$</h5></div>
                                    <div class="text-center" id="txt-saldo">0,00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="sel-cliente-caixa">Cliente:</label>
                                <select required id="sel-cliente-caixa" class="custom-select">
                                    <option selected></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="dt-tb-procedimentos" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Data</th>
                            <th>Cód./Proc.</th>
                            <th>Procedimento</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <br />

                <div class="container">
                    <div class="row align-items-end">
                        <div class="col">
                            <div class="form-group">
                                <button id="btn-salvar-pagamento" class="btn btn-success btn-block">Salvar</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="txt-total" class="col-sm-7 col-form-label text-right">Total</label>
                                <div class="col-sm-5">
                                    <input type="number" disabled id="txt-total" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt-recebido" class="col-sm-7 col-form-label text-right">Recebido</label>
                                <div class="col-sm-5">
                                    <input type="number" id="txt-recebido" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sel-forma-de-pagamento" class="col-sm-7 col-form-label text-right">Foma de Pagamento</label>
                                <div class="col-sm-5">
                                    <select name="sel-forma-de-pagamento" disabled id="sel-forma-de-pagamento" class="form-control">
                                        <option value="1">Dinheiro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts específicos desta página -->
@section scripts{
    <script src="~/js/Caixa/pagamentos.js"></script>
    <script src="~/js/Caixa/inicializa-caixa.js"></script>
    <script src="~/js/Agendamentos/Index/index.js"></script>
}